<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head data-th-replace="~{partials/head(title='trainroute index page')}"></head>

<body>
    <div class="flex-wrapper">
        <table class="train-table">
            <thead>
                <tr>
                    <th data-th-text="#{thead.tr.train_no}">Train number</th>
                    <th data-th-text="#{thead.tr.city_from}">City From</th>
                    <th data-th-text="#{thead.tr.city_to}">City To</th>
                    <th data-th-text="#{thead.tr.depart_time}">Depart time</th>
                    <th data-th-text="#{thead.tr.arrival_time}">Arrival time</th>
                </tr>
            </thead>
            <tbody>
                <tr data-th-each="train : ${trains}">
                    <td data-th-text="${train.trainNumber}"></td>
                    <td data-th-text="${train.cityFrom}"></td>
                    <td data-th-text="${train.cityTo}"></td>
                    <td data-th-text="${train.departTime}"></td>
                    <td data-th-text="${train.arrivalTime}"></td>
                </tr>
            </tbody>
        </table>
        <form action="#" data-th-action="@{/trains/route}" method="post" class="train-table-row-input">
            <label class="form-label green-alert-text" data-th-text="#{route.pickup.header}">Enter the Train Details:</label>
            <div>
                <label for="city-from-input" data-th-text="#{route.city.from}">City From:</label>
                <select id="city-from-input" name="cityFrom">
                    <option style="display:none"></option>
                    <option data-th-each="city : ${cities}" date-th-value="${city.name}" data-th-text="${city.name}">
                        City option n</option>
                </select>
            </div>
            <div>
                <label for="city-to-input" data-th-text="#{route.city.to}">City To:</label>
                <select id="city-to-input" name="cityTo">
                    <option style="display:none"></option>
                    <option data-th-each="city : ${cities}" date-th-value="${city.name}" data-th-text="${city.name}">
                        City option n</option>
                </select>
            </div>
            <button class="form-label green-alert-text" data-th-text="#{route.pickup.search}" type="submit">Search</button>
        </form>
    </div>
    <footer>
        <div data-th-replace="~{partials/footer(pagetitle='trains')}"></div>
        <ul class="language-bar">
            <li><a data-th-href="@{/trains?lang=lt}">LT</a></li>
            <li><a data-th-href="@{/trains?lang=en}">EN</a></li>
        </ul>
    </footer>

</body>

</html>