<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head data-th-replace="~{partials/head(title='route search')}"></head>

<body>
<h2 data-th-text="#{tickets.page.title}"></h2>
<div class="flex-wrapper">
    <table class="train-table">
        <thead>
        <tr>
            <th data-th-text="#{thead.tr.train_no}">Train number</th>
            <th data-th-text="#{thead.tr.city_from}">City From</th>
            <th data-th-text="#{thead.tr.city_to}">City To</th>
            <th data-th-text="#{thead.tr.depart_time}">Depart time</th>
            <th data-th-text="#{thead.tr.arrival_time}">Arrival time</th>
            <th data-th-text="#{thead.user.price}">Arrival time</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="ticket : ${tickets}">
            <td data-th-text="${ticket.trainNumber}"></td>
            <td data-th-text="${ticket.cityFrom}"></td>
            <td data-th-text="${ticket.cityTo}"></td>
            <td data-th-text="${ticket.departTime}"></td>
            <td data-th-text="${ticket.arrivalTime}"></td>
            <td data-th-text="${ticket.userPrice}"></td>
        </tr>
        </tbody>
    </table>
    <!--    <form action="#" data-th-action="@{/trains/route}" method="post" class="train-table-row-input">-->

    <!--    </form>-->
</div>
<footer>
    <div class="flex-wrapper">
        <div class="footer" data-th-text="#{footer.rights.declaration}"></div>
        <div class="footer">Sigitas Mickis 2023</div>
        <a data-th-href="@{/trains}">
            <button data-th-text="#{footer.back.to.index.button}">Back to trains></button>
        </a>
    </div>
    <ul class="language-bar">
        <li><a data-th-href="@{/tickets}">LT</a></li>
        <li><a data-th-href="@{/tickets}">EN</a></li>
    </ul>
</footer>

</body>

</html>