<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>user</title>
</head>
<body>
<div th:object="${user}">
    <div>Id:
        <span th:text="*{id}"></span>
    </div>
    <div>Username:
        <span th:text="*{username}"></span>
    </div>
    <div>Password:
        <span th:text="*{password}"></span>
    </div>
    <div>Role:
        <span th:text="*{role}"></span>
    </div>
</div>
<a th:ref="@{/index}">Home</a>

</body>
</html>