<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <link rel="stylesheet" data-th-href="@{/css/style.css}">
</head>
<body>
<div class="main-framework">
  <h1 class="hello">Hello</h1>
  <div class="index-div" sec:authorize="isAnonymous()">
  <p class="index">
      <a th:href="@{/user/login}">Login</a>
  </p>
      <div class="index">
     <a th:href="@{/user/new}">Register</a>
      </div>
  </div>
    <div sec:authorize="isAuthenticated()">
        <div class="index">
            <a th:href="@{/user/logout}">Logout</a>
        </div>
       </div>
</div>
</body>
</html>